
                                    /* Site wide CSS */
* {
    margin: 0;
    padding: 0;
    
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}


html { 
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

                                    /* Reusable classes */
                                    
.centerTxt    {
    text-align: center;
}

.justTxt {
    text-align: left;
}

.redBrown { 
    color: #A67362;
}

.listNone {
    list-style-type: none;
}

.noDeco {
    text-decoration: none;
}
                    
.DomFont {
    font-family: 'Domine';
}
                                    /* Main CSS*/

body {
    position: relative;
    background-color: #FAF6ED;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

header {
    height: 40%;
    background:#6295A6;
    flex: 1 1 auto;
}

header h1 {
    color: #FFF;
}


nav {
    height: 20%;
    background:#6295A6;
    padding-top: 5px;
    padding-bottom: 5px;   
    flex: 2 1 auto;
}

nav ul {
    padding: 10px;
}

nav li {
    display: inline-block;
    font: 2em 'Montserrat', Arial;
    color: #C3DBE3;
    border: black;
    margin: 0 10px 0 10px;
    transition: text-shadow 1s;
}

nav li:hover {
    text-shadow: 1px 1px 1px #C3DBE3, 2px 2px 1px #7DADBD, 3px 3px 1px #4F8A9E, 4px 4px 1px #41798C, 5px 5px 1px #275F73, 6px 6px 1px #265B6E, 7px 7px 12px #123E4D;
}

nav a, nav a:visited {
    color: #C3DBE3;  
}


.wrapper {
    position: relative;
    flex: 2 2 auto;
}


footer {
    background-color: #6295A6;
    box-shadow: .5px .5px #306475, -.5px -.5px #507D8C;
    padding:1em;
    flex: 1 1 auto;
    display: flex;
}

.contactForm {
    flex: 2 0 auto;
    display: flex;
    flex-flow: column nowrap;
}
.contactElement, .contactSend {
    display: flex;
    text-align: center;
    align-items: baseline;
}
.contactLabel {
    flex: 1;
}
.contactField {
    flex: 2;
}
.contactField, .contactLabel {
    padding: 5px 5px;
}
.contactMessage {
    height: 100px;
    resize: none;
}
.contactSend {
    align-self: center;
}
.contactButton {
    margin-top: 10px;
    padding: 15px 30px;
    transition: .3s;
    background-color: white;
    color: black;
    will-change: background-color, color;
}
.contactButton:hover {
    background-color: #A67362;
    color: white;
}
.social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex-basis: auto;
    width:100%;
}
.emailSocial {
    flex: 1 1 auto;
    padding-left: 10px;
}

.portrait{
    width: 200px;
    border: 1px groove; 
}
.portraitContainer {
    flex: 1 0 auto;
}

.socialIcons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 300px;
    flex: 1 1 30%;
}

.email {
    color: white;
}
.email:hover {
    color: black;
}



                                        /* Main Page CSS */


                                            /* Work */


.landingPage {
    display: flex;
    flex-flow: column nowrap;
    flex:2 1 auto;
}


.intro {
    font: 1em 'Montserrat', sans-serif;
    padding:20px;
    text-align: center;
}
    
.skills {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: space-between;
    padding: 50px 0 50px 0;
}

.skills div {
    padding: 10px;
    margin: 5px 5px 0 5px;
} 
.skillTitle {
    align-self: center;
}

                                    /* Blog page */

.blogContainer {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
}
.blog {
    order: 1;
    flex: 2 1 70%; 
}

.blog article:last-child {
    margin-bottom: 10px;
}
.articleBox {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px #ADB7BA; /* 0px -1px 3px #ADB7BA;   */
}

.articlePad {
    padding: 5px 0 5px 0;
}
.articleSpacing {
    line-height: 1.5;
}

.sidebar {
    order: 2;
    flex: 1 1 30%;
}

                                          /* Contact page */

.contact {
    height: 100%;   
}

.contact p {
    width: 100%;
    padding:10px;
    clear: both;
    font: 1em 'Montserrat', serif;
}

.contact span {
    font-weight: bold;
}

.skills h2, .skills h4 { /*A67362 */
  letter-spacing: 0.1em;
}

.skillBlock {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    padding: 100px 0 100px 0;
}
.skillList {
    padding-left: 50px;
    flex: 1 1 auto;
    order: 1;
    align-self: center;
}

.skillImg {
    padding-right: 30px;
    flex: 1 1 auto;
    order:2;
}


                                    /*Image Gallery Widget */


.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 0 100px 0;
}

.slide {
  flex: 0 1 auto;
  width: 30%;
  padding: 0 10px 0 10px;
}

.slide img {
    width: 100%;
    box-shadow: 1px 2px 2px #999, -1px -1px 2px #999;
}

                        /*                   Media Queries                  */

@media only screen and (max-width: 480px) {
    header {
        height: 60%;
    }
        
    header h1 {
        font-size: 3em;
    }
    .skills {
        flex-flow: row wrap;
    }
    .skillImg {
        display: none;
    }
    .slide {
        width: 50%;
        padding: 10px;
    }
    .gallery {
        width: 100%; /*610px;*/
    }
    .blogContainer {
        flex-flow: row wrap;
    }
    .blog {
        flex: 2 1 auto; 
    }
    footer {
        font-size: .8em;
    }    
    .portraitContainer {
        align-self: center;
    }
    .social {
        flex-flow: column wrap;
        justify-content: space-around;
    }
    .contactElement {
        text-align: center;
        padding-top: 10px;
    }
    .blogContainer, .portraitContainer, .contactForm, .socialIcons {
        padding-top: 15px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contactForm {
        flex: 3 2 auto;
    }
    .contactField {
        flex: 2;
    }
    .contactSend {
        align-self: flex-end;
    }
    .portraitContainer {
        flex: 1 0 30%;
        align-self: flex-start;
    }
    .emailSocial {
        flex: 2 1 30%;
        padding-left: 0;
    }
    .social {
        flex-flow: column wrap;
}
    .socialIcons {
        flex-flow: row nowrap;
        flex: 1 1 40%;
    }
}

@media only screen and (min-width: 1440px) {
    body, html {
        font-size: 1.2em;
    }
    .skillImg img {
        width: 60%;
    }
}