<!DOCTYPE html>
<html ng-app = "blogApp">
<head>
<title>PHP MYSQL API test</title>
<script src="js/angular.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/blog.js"></script>

</head>
<body ng-controller="BlogController as blog">
    <section class="blogContainer">
        
        <div class="blogList">            
            <ul ng-show="blog.selected('blog')">
                <li ng-repeat="post in blog.posts" ng-click="blog.selectTab($index)">
                    <div>
                        <h1>{{post.title}}</h1>
                        <h5>{{post.date | date}}</h5>
                        <p ng-bind-html="post.content | unsafe"></p>
                    </div>
                </li>
            </ul>            
        </div>
        <div class="blogContent" ng-show="blog.selected($index)">
            <div ng-repeat="post in blog.posts" ng-click="blog.selectTab($index)">
                <h1>{{post.title}}</h1>
                <h5>{{post.date | date}}</h5>
                <p ng-bind-html="post.content | unsafe"></p>
            </div>
        </div>
       
    </section>
    <section >
        <p class="sidebar">Past Articles</p>
        <div>
            <ul>
                <li ng-repeat="post in blog.past"><a href="" ngclick=getSinglePost($index)/>{{post.title}}</a></li>
            </ul>
        
        </div>
        <div>
            <p>June</p>
            <ul>
                <li ng-repeat="post in blog.june">{{post.title}}</li>
            </ul>
        </div>
        
    </section>

   
</body>
</html>