<!DOCTYPE html>
<html ng-app = "blog">
<head>
<title>PHP MYSQL API test</title>
<script src="js/angular.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/blog.js"></script>

</head>

<section class="blog">
    
    <div class="blogContent" >
        
   <div ng-view>
   </div>
        
        
    </div>
</section>
<section >
    <p class="sidebar">Past Articles</p>
    <div ng-controller="GetPostController">
        <ul>
            <li ng-repeat="post in posts"><a href=""/>{{post.title}}</a></li>
        </ul>
    
    </div>
    <div ng-controller="GetJuneController">
        <p>June</p>
        <ul>
            <li ng-repeat="post in posts">{{post.title}}</li>
        </ul>
    </div>
    
</section>

   
</body>
</html>