/* Basic styles */
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
  background: #0f0f0f;
  font: 15px "Open Sans", sans-serif;
  line-height: 30px;
  color: #838C95;
 -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

/* Typography */

h1 {
  color: #313131;
}
p { margin: 0 0 30px 0; }
p img { margin: 0; }

/* Prevent rendering problems with these tags in certain browswer */
em { font: italic 15px 'Open Sans', sans-serif; }
strong, b { font: 700 15px 'Opens Sans', sans-serif; }
small { font-size: 11px; line-height: inherit; }

/* Links */
/* a, a:visited {
  text-decoration: none;
  outline: 0;
  color: #11ABB0;

  transition: color .3s ease-in-out;
} */
/* a:hover, a:focus { color: #313131; }
p a, p a:visited { line-height: inherit; } */

/* List items */
ul { 
  list-style: none outside;
  margin-bottom: 24px; 
  margin-top: 12px;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Buttons */
button
 {
   font: 16px 'Open Sans', sans-serif;
   background: #11ABB0;
   display: inline-block;
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
	padding: 12px 20px;
	margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;

	transition: all .2s ease-in-out;

   border-radius: 3px;
}

/* Primary navigation */
#nav-toggle, label {
  opacity: 0;
}
.nav__wrapper {
  font: 14px "Open Sans", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.nav__full {
  display: grid;
  grid-template-columns: repeat(4, 120px) 10%;
  justify-content: center;
}

.nav__full-item {
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;

  transition: color 0.2s ease-in-out;
}

.nav__link--current {
  color: #f06000;
}


/* Index Component */
.wrapper__main {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header header"
  "about about about about"
  "portfolio portfolio portfolio portfolio"
  "resume resume resume resume"
  "footer footer footer footer"
}

/* Header Component */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header {
  display: grid;
  grid-area: header;
  position: relative;
  height: 1000px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../images/header-background.jpg) no-repeat top center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
.scrolldown a {
position: absolute;
bottom: 30px;
left: 50%;
margin-left: -29px;
color: #fff;
display: block;
height: 42px;
width: 42px;
font-size: 42px;
line-height: 42px;
color: #fff;
border-radius: 100%;

transition: all 0.3s ease-in-out;
}

.scrolldown a:hover {
  color: #11abb0;
}

.banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

.banner__text {
  width: 100%;
}

.banner__text h1 {
  font: 700 90px 'Open Sans', sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.banner__text h3 {
  font: 20px "Libre Baskerville", serif;
  color: #dbdbdb;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.banner__text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

header .social li a {
  color: #fff;
}

header .social li a:hover {
  color: #11abb0;
}
/* About Component */
.about__wrapper {
  background: #2b2b2b;
  padding-top: 96px;
  padding-bottom: 66px;
  grid-area: about;
  display: grid;
  grid-template-columns: 20% 40%;
  grid-column-gap: 30px;
  grid-template-rows: auto;
  justify-content: center;
}
.about__column-1  {
  grid-column: 1;
}
.about__column-2 {
  grid-column: 2;
  padding-right: 5%;
}
.about__profile-pic {
  position: relative;
  width: 215px;
  height: 280px;
  border-radius: 100%;
}
.about__button {
  margin-top: 6px;
  background: #444;
}
.about__button:hover {
  background: #fff;
  color: #3d4145;
}

/* Portfolio Component */
.portfolio__wrapper {
  grid-area: portfolio;
  background: #ebeeee;
  padding-top: 90px;
  padding-bottom: 60px;
}
.portfolio__items {
  display: grid;
  justify-content: center;
  grid-column-gap: 30px;
  grid-template-columns: repeat(3, 20%);
  margin-bottom: 36px;
}
.portfolio__wrapper h1 {
  font: 15px "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95a3a3;
}

.portfolio__item-wrap {
  overflow: hidden; 
  position: relative;
  transition: all 0.3s ease-in-out;
}

.portfolio__item-wrap a {
  display: block;
  cursor: pointer;
}
.portfolio__item-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 94%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: url(../images/overlay-bg.png) repeat;
} 
.portfolio__link-icon {
  display: block;
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
} 

.portfolio__item-meta {
  padding: 18px;
}

.portfolio__item-meta h5 {
  font: 14px "Open Sans", sans-serif;
  color: #fff;
}

.portfolio__item-meta p {
  font: 12px "Open Sans", sans-serif;
  color: #c6c7c7;
  margin-bottom: 0;
}

/* Portfolio item on hover */

.portfolio__item:hover .portfolio__item-overlay {
  opacity: 1;
}

.portfolio__item:hover .portfolio__link-icon {
  opacity: 1;
}

/* Resume Component */
.resume__wrapper {
  grid-area: resume;
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  padding-left: 64px;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, 50%);
}
.resume__wrapper h1 {
  font: 700 18px "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.resume__wrapper h1 span {
  border-bottom: 3px solid #11abb0;
  padding-bottom: 6px;
}

.resume__wrapper h3 {
  font: 25px "opensans-bold", sans-serif;
}

.work__wrapper {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

.work__info {
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}

.work__info span {
  margin-right: 5px;
  margin-left: 5px;
}
.work__date {
  margin-top: 6px;
}
.work__header-col,
.skills__header-col {
  padding-top: 9px;
  grid-column: 1;
}
.work__main-col,
.skills__main-col {
  padding-right: 10%;
  grid-column: 2;
}

.skills__wrapper,
.work__wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 30px;
  justify-content: center; 
}

table {
  font-size: 1.5em;
  padding: 3px;
  max-width: 400px;
  color: #313131;
  
}
th, td {
  padding: 10px;
  border-bottom: 1px solid hsla(182, 82%, 38%, 0.42);
  /* text-align: center; */
}

/* Footer Component */
footer {
  grid-area: footer;
  padding-top: 48px;
  margin-bottom: 48px;
  color: #303030;
  /* font-size: 14px; */
  text-align: center;
  position: relative;
}

footer a {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: #fff;
}

.footer__go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
.footer__go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;

  transition: all 0.2s ease-in-out;

  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
  text-align: center;
}

.footer__go-top a:hover {
  background-color: #0f9095;
}
footer .social {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}

footer .social li {
  display: inline-block;
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-left: 42px;
  color: #f06000;
}

footer .social li:first-child {
  margin-left: 0;
}

/* ---------------------------------------------------------------------*/
/*                            Media queries                             */
/* ---------------------------------------------------------------------*/                      


/* Screen width less than 1024px 
------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  /* Header component */
  .banner__text h1 {
    font-size: 80px;
    letter-spacing: -1px;
  }
  /* Portfolio component */
  .portfolio__item-overlay {
    height: 93%;
  }
  .portfolio__items {
    grid-template-columns: repeat(3, 30%);
  }
  /* About component */
  .about__wrapper {
    grid-template-columns: 25% 70%;
  }
}

/* Screen width less than 900px */

@media only screen and (max-width: 900px) {
  /* Header component */

  /* About Component */
  .about__profile-pic {
    width: 150px;
    height: 180px;
    margin-left: 12px;
 }
 .about__wrapper {
    grid-template-columns: 25% 70%;
    grid-column-gap: 10px;
  }

  /* Portfolio component */

  
.portfolio__item-meta {
  padding: 10px;
}

.portfolio__item-meta h5 {
  font-size: 15px;
}

.portfolio__item-meta p {
  font-size: 13px;
}
  .portfolio__item-overlay {
    height: 92%;
  }
  /* Resume Component */
  .resume__wrapper h1 { font: 16px;  }
  .resume__main-col { padding-right: 5%; }
}

/* mobile wide/ smaller tablets 
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .nav__wrapper {
    font-size: 12px;
    position: fixed;
    top: 0;
    right: 0;
  }

  #nav-toggle {
    opacity: 0;
    display: none; 
  }

  label {
    opacity: 1;
    display: block;
    color: #fff;
    background-color: #CC5200;
    right: 20px;
    position: fixed;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
  }
  label:hover {
    background-color: #fff;
    color: #000;
  }
   #nav-toggle ~ .nav__full {
    display:none;
  }
  #nav-toggle:checked ~ .nav__full {
    display: block;
  }

  /* display menu panel */
  .nav__full {
    display: block;
    padding: 30px 20px 48px 20px;
    background: #1f2024;
    margin: 0 30px;
    width: 30vw;
    clear: both;
    position: relative;
    right: 0;
    top: 50px;
    float: right;
  }
  .nav__full li {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
    text-align: left;
    border-bottom: 1px solid #2D2E34;
    border-bottom-style: dotted;
  }

  .nav__full li a {
    display: block;
    margin: 0;
    padding: 0;
    margin: 12px 0;
    line-height: 16px; 
    border: none;
  } 
  
  .about__profile-pic { display: none; }
  .scrolldown { display: none; }
  /* Header component */
  .banner {
    padding-bottom: 12px;
    padding-top: 6px;
  }
  .banner__text h1 {font-size: 3em;}
  .banner__text hr {
    width: 80%;
    margin: 18px auto;
  }

  .social {
    margin: 18px 0 24px 0;
    font-size: 24px;
    line-height: 36px;
  }

  /* About component */
  .about__wrapper { 
    grid-template-columns: 0% 90%;
    grid-column-gap: 0;
  }
  .about__column-2 {
    padding-right: 0;
  }

  /* Resume component */
  .resume__wrapper {
    padding-left: 0;
  }
  .skills__wrapper,
  .work__wrapper {
    grid-template-columns: 0% 90%;
    grid-template-rows: 20% 80%;
    grid-column-gap: 0;
    justify-content: center; 
  }
  .work__header-col,
  .skills__header-col {
    padding-top: 9px;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    padding-bottom: 24px;
  }
  .work__main-col,
  .skills__main-col {
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 24px;
    grid-row: 2;
  }
  .skills__main-col {
    padding: 0 50px 0 100px;
  }
  .work__wrapper h1 {
    letter-spacing: 3px;
  }
  .work__main-col h3, .work__info {
    text-align: center;
  }

  /* Portfolio component */
  .portfolio__items {
    grid-column-gap: 0;
    grid-template-columns: 65%;
    grid-template-rows: repeat(3, 20%);
    margin-bottom: 36px;
  }
  .portfolio__item-overlay {
    height: 93%;
  }
}



/* Mobile narrow
-------------------------------------------------- */
@media only screen and (max-width: 480px) {
  /* Resume component */
  .skills__main-col {
    padding: 0 10px 0 10px;
  }
  /* Portfolio component */
  .portfolio__items {
    grid-template-columns: 80%;
  }
  .portfolio__item-overlay {
    height: 92%;
  }
  
}